
      

      
.picturesedit {
border-radius: 25% 0% 25% 0%;
}

body {
  font-family: 'Montserrat', arial, sans-serif;  
  font-weight: 500; 
  background-color: rgb(100, 189, 230);
  }
  
  .button {
    line-height: 60px;
    border-radius: 50%;
    background-color: #0e99c4;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 20px;
    border: 5px solid #4c6baf;
    text-decoration: none;
  }

  .button2 {
    line-height: 60px;
    border-radius: 50%;
    background-color: #ac4a09;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 20px;
    border: 5px solid #bb3939;
    text-decoration: none;
  }

  .paragraph {
      width: 80%;
  }
